<div class="sidebar">
    <div class="Main">
        <div class="d-flex">
            <div class="left-side ">
                <div class="text d-flex mt-3 ">
                    <span class="mx-2 "><i class="bi bi-0-circle"></i></span>
                    <h2 class="mx-2">CodingLab</h2>
                </div>
                <div class="text-1 d-flex ">
                    <span class="mx-2 mt-2 "><i class="bi bi-border-all"></i></span>
                    <h4 class="mx-3"><a href="">Dasboard</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-cart"></i></span>
                    <h4 class="mx-3"><a asp-action="Index" asp-controller="Teacher">Product</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-list"></i></span>
                    <h4 class="mx-3"><a href="">Order List</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-arrow-down-right"></i></span>
                    <h4 class="mx-3"><a href="">Analytics</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-suitcase2"></i></span>
                    <h4 class="mx-3"><a href="">Total Order</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-people"></i></span>
                    <h4 class="mx-3"><a href="">Team</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-chat"></i></span>
                    <h4 class="mx-3"><a href="">Messages</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-heart"></i></span>
                    <h4 class="mx-3"><a href="">Fevarit</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-box-arrow-left"></i></span>
                    <h4 class="mx-3"><a href="">Log Out</a></h4>
                </div>
                <div class="text-1 d-flex mt-3">
                    <span class="mx-2 mt-1"><i class="bi bi-gear"></i></span>
                    <h4 class="mx-3"><a href="">Setting</a></h4>
                </div>
            </div>



            <div class="right-side ">
                <div class="nav-bar">
                    <nav class="navbar  bg-body-tertiary">

                        <div class="container-fluid d-flex justify-content-between">

                            <span><i class="bi bi-list"></i></span>
                            <a class="navbar-brand">Dasboard</a>
                            <form class="d-flex" role="search">
                                <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
							
                            <img src="~/backend/assets/images/nipon.png" width="50px" height="50px">
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>