<script src="~/backend/assets/js/bootstrap.bundle.js"></script>
<script src="~/backend/assets/js/bootstrap.bundle.min.js"></script>
<a href="~/backend/assets/js/main.jss">~/backend/assets/js/main.jss</a>

